# ============================================
# VELVET SOCIETY - Variables de Entorno
# ============================================

# MySQL - Clever Cloud
MYSQL_ADDON_HOST=bhzuivhmzxxggtz1irtg-mysql.services.clever-cloud.com
MYSQL_ADDON_DB=bhzuivhmzxxggtz1irtg
MYSQL_ADDON_USER=ul00gwe2wsqqoend
MYSQL_ADDON_PORT=3306
MYSQL_ADDON_PASSWORD=tRLMfMu35KYGXAhfOzVY
MYSQL_ADDON_URI=mysql://ul00gwe2wsqqoend:tRLMfMu35KYGXAhfOzVY@bhzuivhmzxxggtz1irtg-mysql.services.clever-cloud.com:3306/bhzuivhmzxxggtz1irtg

# URL del backend (para el frontend en Vercel)
API_URL=

# Puerto del servidor
PORT=3000
