# Dependencies
node_modules/

# Database
database/*.db
database/*.db-journal
database/*.db-wal
database/*.db-shm

# Logs
*.log
npm-debug.log*

# Environment
.env
.env.local

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Temp
*.tmp
*.temp
